build*/
install*/
dist/
conda-bld/
*.egg-info*/
*.eggs/
_version.py
test_results.xml
test_abaqus_python.txt
.coverage
coverage*.xml
# Generated dynamically during some CI packaging opertions, e.g. PyPI style package
turbo_turtle/docs

.sconsign.dblite
config.log

*.step
*.stp
*.cae
*.rpy*
*.jnl
ABQ*
*.zip
*.pyc
*pycache*/
*.jou
